"
"
" ██╗  ██████╗   ███████╗   █████╗   ██╗   ██╗  ██╗  ███╗   ███╗
" ██║  ██╔══██╗  ██╔════╝  ██╔══██╗  ██║   ██║  ██║  ████╗ ████║
" ██║  ██║  ██║  █████╗    ███████║  ██║   ██║  ██║  ██╔████╔██║
" ██║  ██║  ██║  ██╔══╝    ██╔══██║  ╚██╗ ██╔╝  ██║  ██║╚██╔╝██║
" ██║  ██████╔╝  ███████╗  ██║  ██║   ╚████╔╝   ██║  ██║ ╚═╝ ██║
" ╚═╝  ╚═════╝   ╚══════╝  ╚═╝  ╚═╝    ╚═══╝    ╚═╝  ╚═╝     ╚═╝
"
"
" AUTHOR: Crumble_Jon
" EMAIL: ruisong20@gmail.com
" GITHUB: github.com/wurahara
"
" Find more examples here: https://jb.gg/share-ideavimrc
"
"
" ======================================================================================================================
" Basic Settings
" ======================================================================================================================

" Set the encoding to UTF-8
set encoding=utf-8
set fileencoding=utf-8

" minimal number of screen lines to keep above and below the cursor
set scrolloff=8
set sidescrolloff=8

" show line numbers and relative numbers
set number
set relativenumber

" highlight the current line
set cursorline

" draw the sign column, `yes` means always
set signcolumn=yes

" round indents to multiple of `shiftwidth`
set shiftround
set shiftwidth=2

" ignore case in search patterns
set ignorecase
set smartcase

" cancel the highlighting of matched search patterns
" show the pattern as it was typed so far, incremental searching
set nohlsearch
set incsearch

" not wrap lines
set nowrap

" allow keys move the cursor to the start or end of a line
set whichwrap+=<,>,h,l,[,]

" a buffer becomes hidden when it is abandoned
set hidden

" enable mouse support
set mouse=a

" cancel backup files and swap files for the buffer
set nobackup
set nowritebackup
set noswapfile

" swap file written to disk if nothing is typed in 300 ms
set updatetime=300

" mapped sequence to complete waiting in 800 ms
set timeoutlen=800

" split window below/right
set splitbelow
set splitright

" options for INSERT mode completion
set completeopt=menu,menuone,noselect,noinsert

" allow system clipboard and IDE clipboard
set clipboard=unnamed
set clipboard=unnamedplus
set clipboard+=ideaput

" backspace in INSERT mode
set backspace=indent,eol,start

" Don't use Ex mode, use Q for formatting.
map Q gq

" ======================================================================================================================
" Other Settings
" ======================================================================================================================

" set the leader key
let g:mapleader = "\<space>"

" configure conflicting keys
sethandler <C-D> a:vim
sethandler <C-H> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-R> a:vim

" ======================================================================================================================
" Shortcuts and Key Bindings
" ======================================================================================================================

" NORMAL & VISUAL: baby step (10 lines) and giant step (100 lines) scroll
nnoremap <silent> <C-j> 10j
nnoremap <silent> <C-k> 10k
nnoremap <silent> <C-d> 30j
nnoremap <silent> <C-u> 30k

" NORMAL & VISUAL: swap `$` and `g_`, jump to tail without space
nnoremap <silent> $ g_
nnoremap <silent> g_ $

" NORMAL: set wrapping
nnoremap <silent><expr> j v:count ? 'j' : 'gj'
nnoremap <silent><expr> k v:count ? 'k' : 'gk'

" VISUAL: code indenting
vnoremap < <gv
vnoremap > >gv

" VISUAL: copy
vnoremap <silent> p "_dP

" NORMAL & VISUAL: magic searching
noremap / /\v

" NORMAL: cancel default `s` for window splitting
nnoremap s <Nop>

" NORMAL: set `sv` and `sh` for window splitting vertically and horizontally
nnoremap <silent> sh :sp<CR>
nnoremap <silent> sv :vsp<CR>

" NORMAL: close current/other window(s)
nnoremap <silent> sc <C-w>c
nnoremap <silent> so <C-w>o

" NORMAL: switch between windows using <leader>
nnoremap <silent> <leader>h <C-w>h
nnoremap <silent> <leader>j <C-w>j
nnoremap <silent> <leader>k <C-w>k
nnoremap <silent> <leader>l <C-w>l

" NORMAL: window resize
nnoremap <silent> <leader><Up> <Action>(StretchSplitToTop)
nnoremap <silent> <leader><Down> <Action>(StretchSplitToBottom)
nnoremap <silent> <leader><Left> <Action>(StretchSplitToLeft)
nnoremap <silent> <leader><Right> <Action>(StretchSplitToRight)

" NORMAL: window default size
nnoremap <silent> <leader>= <Action>(MaximizeEditorInSplit)

" NORMAL: switch between tabs
nnoremap <silent> <C-h> gT
nnoremap <silent> <C-l> gt

" TODO: hint traverse
" TODO: NERDTree operations
" TODO: actions for activities
